# Vivado
*.jou
*.log
.Xil/
vivado*.str
vivado*.zip
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.srcs/
# Sim
xsim.dir/
*.wdb
*.vcd
*.pb
webtalk*

# Python venv + harness artifacts
.venv/
sim_data/*.npy
__pycache__/
raw_data/
sim/*.vvp
